<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.skku.httphumanict.fcsnsprojectver001">
    <!-- android permission -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- /android permission -->

    <application
        android:allowBackup="true"
        android:largeHeap="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".app.activity.FCSNSLogoActivity" android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".app.activity.FCSNSRoomActivity"/>
        <activity android:name=".app.activity.FCSNSNoticeActivity" android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".app.activity.FCSNSSaveActivity"  android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <service
            android:name=".app.service.FCSNSFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name=".app.service.FCSNSFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>


</manifest>